.kaya-admin-panel input[type=checkbox]{
    margin-top: 5px;
}
.kaya-admin-panel{
    border: 2px solid #E6E1E1;
    margin-bottom: 50px;
    overflow: hidden;
    padding: 0 30px 15px;
} 
.kaya-admin-panel h4 {
    background: #0073aa none repeat scroll 0 0;
    clear: both;
    color: #fff !important;
    font-weight: bold;
    margin: 0 -30px 30px;
    padding: 10px 10px 10px 30px;
}
.kaya-admin-panel textarea, .kaya-admin-dashboard textarea{
    width: 100%;
}
.kaya-admin-dashboard .form-table th{
    width: 20%;
}