.kaya-form{padding:30px!important}.kaya-form input:not(.button-primary),.kaya-form input:not(.ed_button),.kaya-form select,.kaya-form textarea,#user_role_name{width:97%;display:block;padding:9px 1.5%}#user_role_name{margin-bottom:1.5%}.kaya-user-form p{padding-bottom:25px}.kaya-form select{width:100%;padding-left:1%;height:37px;line-height:35px}input[type=text]:focus,input[type=password]:focus,textarea:focus{box-shadow:0 0 5px rgba(0,0,0,.1);border:1px solid rgba(204,204,204,.3)}.kaya-form input[type="checkbox"]{width:auto;display:inline-block;margin-right:5px}.kaya-checkboxes label{margin-right:15px}.kaya-form h4,.panel_title_desc_wrapper{clear:both;font-weight:700;padding:10px 10px 10px 30px;margin:0 -30px 30px;clear:both}.kaya-form{padding:30px!important}.kaya-form input:not(.button-primary),.kaya-form input:not(.ed_button),.kaya-form select,.kaya-form textarea,#user_role_name{width:97%;display:block;padding:9px 1.5%}.kaya-form input.button-primary{width:auto!important;padding:12px 21px!important}#user_role_name{margin-bottom:1.5%}.kaya-form select{width:100%;padding-left:1%;height:37px;line-height:35px}input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid rgba(204,204,204,.3)}.kaya-form input[type="checkbox"]{width:auto;display:inline-block;margin-right:5px}.kaya-checkboxes label{margin-right:15px}.kaya-form h4,.panel_title_desc_wrapper{clear:both;font-weight:700;padding:10px 10px 10px 30px;margin:0 -30px 30px;clear:both;background:#e5e5e5}.kaya-button{cursor:pointer;font-size:15px;letter-spacing:1px;line-height:15px;margin-right:4px;padding:10px 20px;width:auto!important}.kaya-form .kaya-button{padding:6px 20px!important}.kaya-panel{border:2px solid #ebebeb;margin-bottom:30px;overflow:hidden;padding:0 30px 30px}.kaya-panel-top-space{padding-top:30px}.user_profile label{font-size:14px}.kaya-form .kaya-field-error,.kaya-form #user_portfolio_new_post input.kaya-field-error,.kaya-field-error{border:1px solid #d54e21!important}.kaya-form label span,.kaya-form span.required{color:#f33}.form_button,#wp-submit{padding:15px 20px}#mid-content .kaya-error-message,.kaya-error-message{color:#a94442!important;background-color:#f2dede;padding:8px 15px!important;border:1px solid #ebccd1;clear:both;display:block}#header-navigation #user-dashboard-menu li a{border-bottom:1px solid rgba(204,204,204,.2)!important;text-align:left;font-size:13px;padding:15px 10px}#user-dashboard-menu{left:100%;position:absolute;width:210px;text-align:left;display:none;z-index:100}#nav-user-dashboard-menu:hover #user-dashboard-menu{display:block!important}#nav-user-dashboard-menu>a{padding:13px 0}

.kaya-form input:not(.kaya-button):not(.ed_button), .kaya-form select, .kaya-form textarea {
    font-size: 15px;
}
.kaya-form .kaya-button, .form_button, #wp-submit {
    font-size: 15px;
}
.show_upload_img {
    width: 100px;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    float: left;
    margin-bottom: 15px;
}
h3.talent_title {
    width: 90%;
    display: inline-block;
}
.fa, .fas {
    font-family: FontAwesome !important;
    font-weight: 500 !important;
}
span.edit_link i {
    margin-right: 5px;
}
ul.pods-form-fields li select, ul.pods-form-fields li input:not(.ed_button) {
    width: 50%!important;
}
.kaya-panel{
    background: #ccc !important;
    border: 1px solid #ddd !important;
}
form#loginform {
       width: 50%;
    margin: 0 auto;
    border:2px solid #999;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
}
.kaya-form .kaya-button, .form_button, #wp-submit {
    background: #333333!important;
    color: #ffffff!important;
    margin: 0 auto;
}
.user_contact_information.kaya-panel, .user_information {
    border: 1px solid #888 !important;
}
.user-reg-link {
    text-align: center;
	display:none;
}
input.view_profile {
    float: right;
}
input.update_profile {
    float: left;
}
.afu-process-file label.upload {
    background: #333;
    color: #fff;
}
div#talent_profile .user-add-new-button {
    display: none;
}
.pods_cpt_form_wrapper ul {
    display: contents;
}
.click_here {
    display: none;
}
input#pods-cpt-submit-button {
    background: #333;
    color: #fff;
    font-size: 15px !important;
}
.submit_feilds input#pods-cpt-submit-button {
    display: inline-block;
    width: 40% !important;
    float: left;
    padding: 10px;
}
.submit_feilds a {
    display: inline-block;
    width: 40% !important;
    float: right;
}
.submit_feilds .view_profile {
    font-size: 15px;
    padding: 10px;
}
iframe#pods-form-ui-typecasting-notes_ifr, iframe#pods-form-ui-short-bio_ifr {
    height: auto !important;
}
/* #projects_page .pods-submittable-fields .pods-form-fields li:first-child,#projects_page .pods-submittable-fields .pods-form-fields li:nth-child(2) {
    display: none;
} */
div#projects_page #feature_img {
    display: none;
}
ul.pods-form-fields li {
    width: 50%;
}
ul.pods-form-fields li {
    width: 60%;
    display: flex;
    float: left;
}
.pods-form-front .pods-field-label {
    width: 250px !important;
    min-width: 150px;
}
.single-talent h3.talent_category,.single-project h3.project_genre {
    font-size: 15px;
    background: #e74613;
    color: #fff !important;
    display: inline;
    padding: 10px;
    border-radius: 20px;
}
.gallery-caption {
    background: #777;
    color: #ddd;
}
form#lostpasswordform,form#resetpasswordform {
    width: 50%;
    margin: 0 auto;
    border: 2px solid #999;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
}
input#upload {
    margin-bottom: 10px;
}
.croppie-container {
    padding: 0 !important;
    margin-top: 15px !important;
}
img#featured_image {
    width: 100%;
    max-width: 150px;
}


/* Add your CSS code here.

For example:
.example {
    color: red;
}
.view_profile {
    display: none;
}
div#talent_profile .view_profile {
    display: block;
}
For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */

.apply_now {
    margin: 0 0 20px 30px;
}
.apply_now a {
    background: #333;
}
.post_thumb {
    display: none;
}
.all button {
    background: #e74613!important;
    color: #ffffff!important;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.kaya_toggle_search.kta-search-content-wrapper.toggle_search_wrapper {
    margin-top: 15px;
}

.search_box div#panel {
    width: auto;
  	top: 140px;
}
input.search-field {
    width: 210px;
    padding: 6.5px;
    font-size: 14px;
    border-radius: 5px !important;
}


input.search-submit {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
input.input-text {
    font-size: 15px;
    padding: 8px;
    border-radius: 5px !important;
}
.fep-field {
    width: 50%;
    clear: left;
}
form#fep-messagebox-search-form,form#fep-announcementbox-search-form{
    display: none;
}
.fep-action-table select {
    width: 95%;
    border-radius: 5px;
    padding: 5px 6px;
    font-size: 17px;
}
.fep-filter span {
    margin-right: 12px;
}
select.fep-filter {
    width: 65%;
}




/* Mesaages button */
.fep-button:hover, .fep-button-active {
    background-color: #ff5722;
    color: #eee !important;
  border: none !important;
}
#fep-menu .fep-button:hover, .fep-button-active {
    font-size: 13px;
}
.fep-button {
    background-color: #333;
    color: #e5e5e5 !important;
  border: none !important;
}
/* Mesaages button */
.cpt-post-content-wrapper ul.column-extra li {
    line-height: inherit;
}

.style2-general-meta-fields-info-wrapper p {
    padding-bottom: 5px;
}
.style2_details_wrapper {
    padding: 10px 20px;
}
.style2_details_wrapper a.elementor-button-link.elementor-button.elementor-size-sm {
    background: #ff5722;
}
.style2_image.column6 {
    display: none;
}
.cpt-post-style2-content-wrapper .item.column1 {
    border: 1px solid #000;
    margin-bottom: 10px;
}
.cpt-post-style2-content-wrapper.cpt-post-wrapper .column-extra li {
    display: block;
}
ul.pods-form-fields li {
    width: 50%;
}
ul.pods-form-fields li {
    width: 60%;
    display: flex;
    float: left;
}
.pods-form-front .pods-field-label {
    width: 250px !important;
    min-width: 150px;
}
li.taxonomy_feilds ul {
    display: contents;
}
.user-add-new-button a {
    background: #ff5722;
    color: #fff;
}
li.shortlist-clear .btn {
    color: #000;
}
div#fep-message-header {
    display: block;
}
div#fep-message-header div {
    display: block;
}
div#fep-message-header img {
    width: 100px;
    margin-right: 20px !important;
}


