@media screen and (min-width: 768px) and (max-width: 1366px) {
    /* Global column layout width 100%  =================================*/    
    .container{
        width:90%;
        padding: 0px;
    }
   
    
}
@media only screen and (max-width: 1024px) {
    .one_half,
    .one_half_last,
    .one_fourth,
    .one_fourth_last,
    .footer_widgets .one_fourth,
    .footer_widgets .one_fourth_last,
    .two_third,
    .one_third,
    .one_third_last,
    .one_fifth,
    .four_fifth_last,
    .three_fourth,
    .three_fourth_last,
    .header_menu_section,
    .woocommerce div.product div.images,
    .fm-form li,
    #setcard .one_third,
    .two_third_last, #kaya-header-content-wrapper #logo, #kaya-header-content-wrapper #header-navigation {
        width: 100%!important;
        margin: 0px;
        float: none;
        clear: both;
    }
    #main-menu{
      display: none;
    }
    #main-nav,
    ul#main-menu{
        width: 100%;
    }
    .container{
        width: 90%;
        padding: 0px;
    }
    #logo a {
        float: left;
    }
    nav#header-navigation {
        position: relative;
        top: 15px;
    }
    #panel{
        right: -16px;
        margin-top: 16px;
    }
    .mobile_toggle_menu_icons {
        float: right;
        margin-right: 40px;
    }
    #mid-content{
        padding:30px 0;
    }
    .header-right-section{
        float: inherit;
    }
    #header-navigation ul li a {
        color: #ffffff;
        background: rgba(0,0,0,0.3);
        margin-bottom: 1px;
    }
    .search_box {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
    .talent-single-page {
       margin: -30px 0 0;
       padding: 40px;
    }
    .talenthunt_single_page_img {
        width: 100%;
    }
    .talenthunt_single_page_details {
        float: left;
        width: 100%;
    }
    .talenthunt_single_page_details h3{
        margin:20px 0 0 0; 
    }
    .general-meta-fields-info-wrapper li{
        width: 100%!important;
        margin-left: 0px!important;
    }
    ul.tabs_content_wrapper li{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 1px;
    }
    ul.tabs_content_wrapper li a {
        width: 100%;
        display: block;
    }
    ul.tabs_content_wrapper{
        border-bottom: none!important;
    }    
    footer, .footer-menu-wrapper ul{
        text-align: center;
    }
    h1 {
        font-size: 20px !important;
        line-height: 120%!important;
    }
}
@media only screen and (min-width: 1024px) {
    #main-menu{
      display: block;
    }
     #kaya-header-content-wrapper #logo {
        width: auto!important;
        margin: 0px;
        float: left;
        clear: inherit;
    }
     #kaya-header-content-wrapper #header-navigation{
        width: auto!important;
        float: left;
        margin-right: 10px;
     }
    .header-right-section {
        float: right !important;
    }
    .search_box {
        float: inherit;
        position:inherit;
        top: 0;
        right: 0;
    }
    nav#header-navigation{
        top:inherit;
    }
    #header-navigation ul li a{
        background: transparent;
    }    
}