/*
Theme Name: Hollywood Unlocker
Theme URI: http://logicsbuffer.com
Author: kayapati and Logicsbuffer
Author URI: http://logicsbuffer.com
Description: Wordpress CMS Theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: talenthunt_kaya
Tags: two-columns, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Links
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}
a {
   outline: 0;
}
a:hover, a:active, a:focus,
a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.67em;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a, span {
    font-family: PT Sans;
    text-decoration: none;
}
svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0px;
	margin-bottom: 10px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #1a1a1a;
	color: #686868;
	font-size: 19px;
	font-style: italic;
	line-height: 1.4736842105;
	margin-bottom: 28px;
	overflow: hidden;
	padding: 0 0 0 24px;
	background: rgba(127,127,127,.3);
}

blockquote blockquote:not(.alignleft):not(.alignright), blockquote:not(.alignleft):not(.alignright)  {
	margin-left: 0;
}

blockquote:before,
blockquote:after {
	content: "";
	display: table;
}

blockquote:after {
	clear: both;
}

blockquote > :last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	font-size: 16px;
	line-height: 1.75;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote.alignleft,
blockquote.alignright {
	border: 0 solid #1a1a1a;
	border-top-width: 4px;
	padding: 18px 0 0;
	width: -webkit-calc(50% - 14px);
	width: calc(50% - 14px);
}
blockquote p {
    padding: 20px;
    padding-left: 0;
}
address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	display: table;
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table,
th,
td,
.mce-item-table,
.mce-item-table th,
.mce-item-table td {
	border: 1px solid #d1d1d1;
}

table a {
	color: #007acc;
}

table,
.mce-item-table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 28px;
	width: 100%;
}

table th,
.mce-item-table th,
table caption {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	font-weight: 700;
	padding: 7px;
	text-align: left;
	vertical-align: baseline;
}

table td,
.mce-item-table td {
	border-width: 0 1px 1px 0;
	font-size: 16px;
	padding: 7px;
	vertical-align: baseline;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding:10px 20px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 5px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
	color: #333;
}

a:visited {
	color: #333;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
.sticky{

}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/
#kaya-header-content-wrapper{
	background: #f1f1f1;
	padding:30px 0;
}
/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
#logo{
	float: left;
}
#logo h1{
	margin: 0px;
    line-height: 1em;
    margin-bottom: 10px;
}
#logo p{
	margin: 0px;
}
#logo h1.site-title a{
	text-decoration: none;
}
/*--------------------------------------------------------------
## Header Menu
--------------------------------------------------------------*/
.header-right-section {
    float: right;
}
#header-navigation{
	float: left;
}
#header-navigation ul{
	list-style: none;
	margin:0px;
}
#header-navigation a{
	text-decoration: none;
}
#header-navigation ul li.current-menu-item.current_page_item > a{
	border-radius:2px; 
}
#header-navigation ul li > a:hover{
	background:#fff
}
.menu ul ul li a,
#header-navigation #user-dashboard-menu li a{
	border-bottom: 1px solid rgba(244,244,244,0.09);
    padding: 12px 20px;
}
.menu ul ul li a:hover{
    padding: 12px 20px;
}
div#main-nav {
    float: left;
}
#nav-user-dashboard-menu {
    float: left;
    position: relative;
}
ul#main-menu {
    float: left;
}
#user-dashboard-menu {
    right: 0!important;
    left: inherit !important;
    top:100%;
}
ul#user-dashboard-menu li {
    display: block;
    float: inherit;
}
ul#main-menu ul li ul {
    top: 0!important;
    margin-top: 0!important;
}
div#nav-user-dashboard-menu li {
    background: #424652;
	margin-right: 10px;
}
.user-dashboard ul {
    padding-top: 30px;
}
/*--------------------------------------------------------------
# Page title bar
--------------------------------------------------------------*/
.kaya-page-titlebar-wrapper{
	background: #dedede;
	padding: 30px 0;
}
.kaya-page-titlebar-wrapper .page-title{
	margin: 0px;
}
/*-------------------------------------------------------------
 #sidebar
 ------------------------------------------------------------*/

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar li {
    margin-bottom: 10px;
}
h2.widget-title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 22px;
}
.flickr_badge_image img {
    display: table;
}
.tagcloud a {
    font-size: 15px !important;
    background: #000;
    color: #fff !important;
    padding: 5px 10px;
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
}
.tagcloud a:hover {
    background: #ff5722;
    color: #fff !important;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#kaya-footer-content-wrapper{
	background: #f1f1f1;
	padding:15px 0;
	overflow: hidden;
}
.footer-menu-wrapper ul li {
    display: inline-block;
    margin-left: 10px;
}

.footer-menu-wrapper ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#kaya-footer-content-wrapper a {
    text-decoration: none;
}
/**
.kaya-page-content-footer{
	padding:30px 0;
}
**/
.kaya-page-content-footer p{
	margin: 0px;
}
.kaya-page-content-footer ul li {
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.footer-menu-wrapper .current-menu-item {
    background: transparent;
}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
h2.entry-title{
	margin-top: 0px;
}
article.hentry p{
	margin: 0px;
}
article.hentry ul{
	margin-bottom: 0px;
}
article.sticky{
	background: rgba(127,127,127,0.1);
	padding: 30px;
}
.post .post_image{
	margin-right:0px!important;
	margin-bottom: 20px!important;
}
.recent_blog_post .post_image{
	margin-right: 30px!important;
}
.post-title-meta h2{
	margin-bottom: 10px;
}
.post-meta-data {
    margin-bottom: 20px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
}
.post-meta-data span {
    margin-right: 20px;
}
.blog-page-content-wrapper article {
    margin-bottom: 50px;
}
a.more-link{
    background: #ff5722;
    color: #fff;
    padding: 5px 20px;
    margin-top:20px;
    clear: both;
    overflow: hidden;
    display: table;
}
.post-meta-data span a {
    background: rgba(158, 158, 158, 0.1);
    padding: 3px 10px;
}
.blog .mid-content article {
    margin-bottom: 50px;
}
.post_date_color {
    width: 100%!important;
}
.nav-previous a, .nav-next a {
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
}
.nav-previous {
    float: left;
}
.nav-next {
    float:right;
}
.nav-links {
    padding: 30px 0;
    overflow: hidden;
}
img.avatar {
    float: left;
    margin-right: 20px;
}
.comment-content p{
	padding-bottom: 0px;
}
.reply a {
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    padding: 5px 16px;
    margin-bottom: 33px;
    display: table;
}
.post-next-prev-buttons {
    margin-bottom: 30px;
}
.comment-body {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
footer.comment-meta {
    text-align: inherit;
}
.form-submit #submit, .search-submit{
	border: none;
	font-size: 15px;
	padding: 15px 20px;
	background: #ff5722;
	color:#fff; 
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
ul.page-numbers li {
    background: #f2f2f2;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0px !important;
}
.page-numbers .current{
	background: #ff5722;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ff5722;
    padding: 0px !important;
    display: block;
    color: #fff;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	overflow: hidden;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
#comments ol{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}
/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search-results article.hentry {
    margin-bottom: 40px;
}
.search-results article.hentry p{
	padding-bottom: 15px;
}
.search-results article.hentry h2{
	margin:0px 0px 10px;
}
/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
a.scrolltop {
    position: fixed;
    background: #ff5722;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    bottom: 30px;
    right: 30px;
    color: #fff;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-item {
	display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    line-height: 0;
    margin-bottom: 1.5%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-caption {
	display: block;
    margin-top: 0;
    line-height: 21px;
}
/*--------------------------------
# POD Meta Fields 
--------------------------------*/
.meta-fields-info-wrapper ul, .single-page-meta-content-wrapper ul{
	list-style: none;
	margin:0px;
	padding:0px;
}
.file-data-content-wrapper{
	overflow: hidden;
}
.single_tabs_content_wrapper .wp-video:last-child {
    margin-right: 0;
}
.wp-video {
    max-width: 100%;
    height: auto;
    float: left;
    display: inline-block;
    width: 49.4% !important;
    margin-right: 1.2%;
}
/*--------------------------------
# Talents 
--------------------------------*/
.taxonomy-content-wrapper li {
    position: relative;
}
.talent-info,
.taxonomy-content-wrapper .general-meta-fields-info-wrapper,
.cpt_post_meta_info .general-meta-fields-info-wrapper,
.search-content-wrapper .general-meta-fields-info-wrapper
{
	color: #fff;
	width: 100%;
	left: 0px !important;
	bottom: 0px !important;
	opacity: 1 !important;
    position: absolute;
    bottom: 0;
    line-height: 20px;
    font-size: 14px;
    padding: 15px;
    background: #000;
    background: -moz-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: -webkit-gradient(linear,left bottom,left bottom,color-stop(0,rgba(0,0,0,.9)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: -ms-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: linear-gradient(to top,rgba(0,0,0,.9) 0,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#00000000',GradientType=0);
}
.search-content-wrapper .general-meta-fields-info-wrapper:hover{
	bottom: 0px!important;
}
.talent-info .general-meta-fields-info-wrapper ul li,
.post-meta-info-wrapper ul li,
.taxonomy-content-wrapper .general-meta-fields-info-wrapper ul li {
    display: inline-block;
    width: 100%;
}
.column2 , .column3 , .column4 , .column5 , .column6 , .column7 , .column8 , .column9{
	position: relative;
}
.cpt-post-content-wrapper li a img {
    display: table;
}
.cpt-post-content-wrapper li .description h4 {
    display: none;
}
.kaya-post-content-wrapper .general-meta-fields-info-wrapper ul li {
    display:block!important;
    margin-right: 10px;
}
.filter_tabs ul li {
    margin-right: 10px;
}
.filter_tabs ul li a {
    padding: 5px 15px;
    font-size: 14px;
}
ul.filter_submenu {
    width: 250px;
}
/*--------------------------------
# Talents Detail Page
--------------------------------*/
.talenthunt_single_page_img {
    float: left;
    width: 30%;
}
.talenthunt_single_page_details h3 {
    margin: 0 0 20px 30px;
}
.talenthunt_single_page_details {
    float: left;
    width: 70%;
}
.general-meta-fields-info-wrapper ul{
	list-style: none;
	padding: 0px;
}
.rescuer_socialmedia_content_wrapper {
    clear: both;
}
.talent-single-page {  
  margin:-50px -9999rem 40px;
  padding:40px 9999rem;
  background:#f2f2f2;
  overflow: hidden;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.single-talent .kaya-page-titlebar-wrapper{
	display: none;
}
/* .single-talent #mid-content{
	padding-top: 0px!important;
}
.talent-single-page-wrap .mid-content {
    padding-top: 0;
} */
.talenthunt_single_page_details .general-meta-fields-info-wrapper li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
    width:46%;
    display: inline-block;
    margin-left: 30px;
}
.single-page-meta-content-wrapper{
	padding: 30px 0px;
}
.single-page-meta-content-wrapper h3 {
    display: none;
}
.single-page-meta-content-wrapper h4 {
    font-size: 23px;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child {
    width: 100%;
    border-bottom: none;
    margin-top: 10px;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child a {
    display: inline-block;
    background: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff !important;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child a:hover {
    background: #ff5722;
    color: #fff !important;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child br {
    display: none;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child strong {
    font-size: 20px;
    color: #787878;
    margin-right:10px;
}
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child strong,
.talenthunt_single_page_details .general-meta-fields-info-wrapper li:last-child span {
    display:inline-block;
}	
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-item {
	display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    line-height: 0;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48.5%;
}

.gallery-columns-3 .gallery-item {
	max-width: 31.8%;
}

.gallery-columns-4 .gallery-item {
	max-width: 23.5%;
}

.gallery-columns-5 .gallery-item {
	max-width: 18.5%;
}

.gallery-columns-6 .gallery-item {
	max-width: 14.15%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
}

.gallery-columns-9 .gallery-item {
	max-width: 8.6%;
}

.gallery-caption {
	display: block;
    margin-top: 0;
    line-height: 21px;
}
#gallery, #videos {
    width: 101.5%;
}
/*--------------------------------------------------------------
## Single Page Tabs
--------------------------------------------------------------*/
.single_tabs_content_wrapper {
    overflow: inherit!important;
}
ul.tabs_content_wrapper li a {
    padding: 11px 15px;
    background: #000;
    color: #fff;
}
ul.tabs_content_wrapper li {
    margin-right:4px!important;
}
ul.tabs_content_wrapper {
    padding:5px 0!important;
    border-bottom: 3px solid #ff5722;
}

li.tab-active a {
    border-bottom: none;
    position: relative;
    color: #fff!important;
    background: #ff5722!important;
}

/*--------------------------------------------------------------
##CPT Post Slider
--------------------------------------------------------------*/
.cpt-post-content-wrapper .owl-item img {
    position: relative;
}
.cpt-post-content-wrapper .general-meta-fields-info-wrapper,
.shortlist-page-wrapper .general-meta-fields-info-wrapper {
    position: absolute;
    left: 0!important;
    opacity: 1!important;
    bottom: 0;
    color: #fff;
	width: 100%;
    padding: 15px;
    font-size: 14px !important;
    line-height: 20px;
    background: #000;
    background: -moz-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: -webkit-gradient(linear,left bottom,left bottom,color-stop(0,rgba(0,0,0,.9)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: -ms-linear-gradient(bottom,rgba(0,0,0,.9) 0,transparent 100%);
    background: linear-gradient(to top,rgba(0,0,0,.9) 0,transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#00000000',GradientType=0);
}
.cpt-post-content-wrapper ul li {
    font-size: 13px;
}


/*--------------------------------------------------------------
##Shortlist Button
--------------------------------------------------------------*/

.item_button .fa-plus:before {
    content: " \f006"!important;
}
.item_button .fa-minus:before {
    content: "\f005"!important;
}
ul.shortlist_buttons li a {
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    padding: 5px 15px;
}
/*--------------------------------------------------------------
##Search Panel
--------------------------------------------------------------*/
#panel {
    padding:30px 20px;
    display: none;
    position: absolute;
    z-index:9999;
    width: 320px;
    box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.5);
    right: 30px;
    background: #fff;
    top: 65px;
}
.search_box {
    float: right;
    position: relative;
}
div#flip i {
    background: #fff;
    padding:10px;
    cursor: pointer;
}
.search_close {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    padding: 11px;
    color: #fff;
    cursor: pointer;
}
.advanced_search_wrapper select{
	font-size: 14px;
	padding: 5px;
}
.ui-corner-all{
	border-radius:0px; 
}
.ui-slider .ui-slider-range{
	background: #ff5722;
}
.ui-widget-content{
	border: none;
}
.advanced_search_forms .ui-slider{
	background: #242730;
}
.advanced_search_wrapper p {
    padding-bottom: 10px;
}
input.search_data_submit{
	font-size: 15px;
	margin-top: 20px;
}
.advanced_search_forms .ui-slider{
	width: 93% !important;
	margin: inherit;
}
/*--------------------------------------------------------------
##Contact Form Widget
--------------------------------------------------------------*/
#contact-form input,
#contact-form textarea {
    width:100%!important;
}
input[type="text"], input[type="email"], input[type="url"], 
input[type="password"], input[type="search"], input[type="number"], 
input[type="tel"], input[type="range"], input[type="date"], input[type="month"], 
input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], 
input[type="color"], textarea{
	border-radius: 0px!important;
}
p.contact_button_wrapper {
    width: 24%!important;
}
#contact-form #contact_submit{
border-radius:0px!important;
}
.caldera-grid .btn-default {
    color: #fff;
    background-color: #ff5722;
    border-color: #ff5722;
    border: none!important;
    padding:15px 30px!important;
    font-size:15px!important;
}
.caldera-grid .btn-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    border: none!important;
}

/*--------------------------------------------------------------
# Shortlist
--------------------------------------------------------------*/
@media print{
	.kaya-page-content-footer{
		display: none!important;
	}
	.cpt-post-content-wrapper .general-meta-fields-info-wrapper, 
	.shortlist-page-wrapper .general-meta-fields-info-wrapper{
		background: #000!important;
		position: relative!important;
		font-size: 5px!important;
	}
	.column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9 {
	    width: 31.83%!important;
	}
}

/*--------------------------------------------------------------
# Set Card
--------------------------------------------------------------*/
a.set_card,
.cpt_posts_add_remove a{
    background: #000;
    color: #fff;
    padding: 5px 20px;
    margin-top: 20px;
    display: table;
    border: none;
}
.cpt_posts_add_remove{
	background: transparent;
	padding: 0;
	border: none;
	margin-top: 0px;
}
a.set_card:hover,.cpt_posts_add_remove a:hover {
	background: #ff5722;
    color: #fff !important;
}
.talenthunt_single_page_img .pods_cpt_single_compcard {
    float: left;
    margin-left: 30px;
}
.talenthunt_single_page_img .cpt_posts_add_remove {
    float: left;
} 



/* Add your CSS code here.

For example:
.example {
    color: red;
}
.view_profile {
    display: none;
}
div#talent_profile .view_profile {
    display: block;
}
For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */

.apply_now {
    margin: 0 0 20px 30px;
}
.apply_now a {
    background: #333;
}
.post_thumb {
    display: none;
}
.all button {
    background: #e74613!important;
    color: #ffffff!important;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.kaya_toggle_search.kta-search-content-wrapper.toggle_search_wrapper {
    margin-top: 15px;
}

.search_box div#panel {
    width: auto;
  	top: 140px;
}
input.search-field {
    width: 210px;
    padding: 6.5px;
    font-size: 14px;
    border-radius: 5px !important;
}


input.search-submit {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
input.input-text {
    font-size: 15px;
    padding: 8px;
    border-radius: 5px !important;
}
.fep-field {
    width: 50%;
    clear: left;
}
form#fep-messagebox-search-form,form#fep-announcementbox-search-form{
    display: none;
}
.fep-action-table select {
    width: 95%;
    border-radius: 5px;
    padding: 5px 6px;
    font-size: 17px;
}
.fep-filter span {
    margin-right: 12px;
}
select.fep-filter {
    width: 65%;
}




/* Mesaages button */
.fep-button:hover, .fep-button-active {
    background-color: #ff5722;
    color: #eee !important;
  border: none !important;
}
#fep-menu .fep-button:hover, .fep-button-active {
    font-size: 13px;
}
.fep-button {
    background-color: #333;
    color: #e5e5e5 !important;
  border: none !important;
}
/* Mesaages button */
.cpt-post-content-wrapper ul.column-extra li {
    line-height: inherit;
}

.style2-general-meta-fields-info-wrapper p {
    padding-bottom: 5px;
}
.style2_details_wrapper {
    padding: 10px 20px;
}
.style2_details_wrapper a.elementor-button-link.elementor-button.elementor-size-sm {
    background: #ff5722;
}
.style2_image.column6 {
    display: none;
}
.cpt-post-style2-content-wrapper .item.column1 {
    border: 1px solid #000;
    margin-bottom: 10px;
}
.cpt-post-style2-content-wrapper.cpt-post-wrapper .column-extra li {
    display: block;
}
ul.pods-form-fields li {
    width: 50%;
}
ul.pods-form-fields li {
    width: 60%;
    display: flex;
    float: left;
}
.pods-form-front .pods-field-label {
    width: 250px !important;
    min-width: 150px;
}
li.taxonomy_feilds ul {
    display: contents;
}
.contact_user a {
    background: #ff5722;
    color: #fff;
    padding: 5px 20px;
    margin-top: 20px;
    display: table;
    border: none;
}
.contact_user {
    display: table;
    float: left;
    margin-right: 10px;
}
.cpt-post-content-wrapper li a img {
    width: auto;
    height: auto;
}
