.pods-cpt-post-wrapper.adv-search-cpt-fields p label:first-child, .compare_fields_data label:first-child, .cpt_options_fields label:first-child {
    font-weight: bold;
    display: block;
    margin-bottom:  5px;
}

.cpt_options_fields label, .compare_fields_data label {
    margin-right: 10px;
    margin-bottom: 4px;
    display: inline-block;
}
.elementor-editor-panel p label:first-child {
    font-weight: bold;
}

.elementor-editor-panel p, .cpt_options_fields, .compare_fields_data {
    border-bottom:  1px solid #e5e5e5;
    margin-bottom: 20px!important;
    padding-bottom: 20px;
}

.elementor-editor-panel p:empty{
    border-bottom:  0;
    padding-bottom:  0;
}
label:empty {
    display: none;
}